<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExcelDatabaseBridge.Properties.Settings.DatabaseConnectionString"
            connectionString="Password=(sa密碼);Persist Security Info=True;User ID=(sa帳號);Initial Catalog=(目的db名稱);Data Source=(目的db主機)" />
    </connectionStrings>
</configuration>